<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IShelterMapper">

	<!-- 지진 옥외대피장소 정보 저장 -->
	<insert id="insertShelterInfo" parameterType="ShelterDTO">
		INSERT INTO	SHELTER_INFO
			(
				SEQ,
				XCORD,
				YCORD,
				CTPRVN_NM,
				SGG_NM,
				VT_ACMDFCLTY_NM,
				DTL_ADRES,
				REG_ID,
				CHG_ID
			)
		VALUES(
				(SELECT NVL(MAX(A.SEQ), 0)+1 FROM SHELTER_INFO A),
				#{xcord},
				#{ycord},
				#{ctprvn_nm},
				#{sgg_nm},
				#{vt_acmdfclty_nm},
				#{dtl_adres},
				#{reg_id},
				#{reg_id}
		)
	</insert>

</mapper>